@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Oswald:400|Open+Sans:400,700);
a,
a:focus,
a:hover {
    color: #dd2021;
    font-weight: bold
}

.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none;
    background-color: #fff;
    border: 1px solid #fff
}

html,
body {
    height: 100%;
    background-color: #d2d2d2;
    background-image: url(../assets/images/voterbase_bkgrd3.jpg);
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat
}

body {
    color: #fff;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5)
}

#overlay {
    background-color: rgba(0, 0, 0, 0.75);
    left: 0;
    top: 0;
    padding: 20px 40px
}

#logo {
    padding: 10px 0 30px 0
}

.site-wrapper {
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5)
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top
}

.cover-container {
    margin-right: auto;
    margin-left: auto
}

#states-container {
    padding: 20px 0
}

.states-container-header {
    padding-bottom: 10px
}

#states-container ul {
    list-style: none
}

#states-container a {
    color: #fff
}

.inner {
    padding: 30px
}

H1 {
    font-family: "Oswald", Helvetica, Arial, sans-serif
}

.small {
    font-size: 75%;
    margin: 20px 0
}

.cover-heading {
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-size: 4em;
    margin-bottom: 30px
}

.lead {
    padding: 30px 0;
    margin-bottom: 0;
    padding-bottom: 0
}

#logo {
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-size: 4.9em;
    font-weight: bold
}

@media(min-width:768px) {
    .masthead-brand {
        float: left
    }
    .masthead-nav {
        float: right
    }
}

.cover {
    padding: 0 20px
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold
}

.btn-danger {
    background-color: #dd2021;
    border-color: #dd2021
}

.btn-danger:hover,
.btn-danger:focus {
    background-color: #b90f0f
}

.mastfoot {
    color: #999;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    margin-top: 20px;
    padding: 20px 0;
    text-align: center
}

@media(min-width:768px) {
    .masthead {
        position: fixed;
        top: 0
    }
    .site-wrapper-inner {
        vertical-align: middle
    }
}