.clearfix:before,
.clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.pull-right {
    float: right !important
}

.pull-left {
    float: left !important
}

.hide {
    display: none !important
}

.show {
    display: block !important
}

.invisible {
    visibility: hidden
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

.hidden {
    display: none !important;
    visibility: hidden !important
}

.affix {
    position: fixed
}

@-ms-viewport {
    width: device-width
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
    display: none !important
}

@media(max-width:767px) {
    .visible-xs {
        display: block !important
    }
    table.visible-xs {
        display: table
    }
    tr.visible-xs {
        display: table-row !important
    }
    th.visible-xs,
    td.visible-xs {
        display: table-cell !important
    }
}

@media(min-width:768px) and (max-width:991px) {
    .visible-sm {
        display: block !important
    }
    table.visible-sm {
        display: table
    }
    tr.visible-sm {
        display: table-row !important
    }
    th.visible-sm,
    td.visible-sm {
        display: table-cell !important
    }
}

@media(min-width:992px) and (max-width:1199px) {
    .visible-md {
        display: block !important
    }
    table.visible-md {
        display: table
    }
    tr.visible-md {
        display: table-row !important
    }
    th.visible-md,
    td.visible-md {
        display: table-cell !important
    }
}

@media(min-width:1200px) {
    .visible-lg {
        display: block !important
    }
    table.visible-lg {
        display: table
    }
    tr.visible-lg {
        display: table-row !important
    }
    th.visible-lg,
    td.visible-lg {
        display: table-cell !important
    }
}

@media(max-width:767px) {
    .hidden-xs {
        display: none !important
    }
}

@media(min-width:768px) and (max-width:991px) {
    .hidden-sm {
        display: none !important
    }
}

@media(min-width:992px) and (max-width:1199px) {
    .hidden-md {
        display: none !important
    }
}

@media(min-width:1200px) {
    .hidden-lg {
        display: none !important
    }
}

.visible-print {
    display: none !important
}

@media print {
    .visible-print {
        display: block !important
    }
    table.visible-print {
        display: table
    }
    tr.visible-print {
        display: table-row !important
    }
    th.visible-print,
    td.visible-print {
        display: table-cell !important
    }
}

@media print {
    .hidden-print {
        display: none !important
    }
}

html {
    position: relative;
    min-height: 100%;
    min-width: 100%
}

body {
    min-width: 100%;
    background-color: #eee
}

#top-container {
    width: 100%;
    position: relative;
    padding-bottom: 15px;
    background-image: url('../assets/images/stvbgtint.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 0;
    margin-bottom: 35px
}

#upper {
    display: block;
    color: white;
    font-size: 28px;
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    line-height: 35px;
    text-align: center;
    background-image: url('../assets/images/bg-black-15pct.png');
    margin-bottom: 25px;
    padding-top: 105px;
    padding-bottom: 10px;
    vertical-align: text-bottom
}

#upper .highlight {
    font-size: 36px;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px
}

#upper p {
    margin-bottom: 20px
}

#logo-and-tagline {
    position: relative;
    padding-top: 5px;
    margin-top: 40px;
    margin-bottom: 65px
}

#ssdp-click {
    display: block;
    position: absolute;
    width: 35%;
    left: 62%;
    top: 25%;
    height: 50%
}

#stdw-click {
    display: block;
    position: absolute;
    width: 10%;
    left: 50%;
    top: 25%;
    height: 50%
}

#logo-container {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 740px;
    height: 175px
}

#logo {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto
}

#tagline {
    color: white;
    font-size: 25px;
    margin-top: 0;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    line-height: 35px;
    padding-left: 10px;
    padding-right: 10px
}

#instructions {
    float: left;
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    color: #010d00;
    font-size: 24px;
    margin-top: 25px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    line-height: 35px
}

@media(min-width:992px) {
    #instructions {
        float: left;
        width: 100%
    }
}

#instructions .zip-info {
    font-size: 20px
}

.disclaimer {
    margin-top: 40px;
    font-size: 16px;
    color: #ccc
}

#big-input-container {
    float: left;
    width: 100%;
    padding-left: 2.5;
    padding-right: 2.5;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

@media(min-width:768px) {
    #big-input-container {
        float: left;
        width: 83.33333333333334%
    }
}

@media(min-width:992px) {
    #big-input-container {
        float: left;
        width: 91.66666666666666%
    }
}

input::-ms-clear {
    display: none
}

#big-input {
    font-size: 24px;
    height: 2.5em;
    margin-right: 1em;
    display: inline-block
}

#loading {
    display: block;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    height: 32px;
    width: 32px;
    right: 24px;
    top: 14px;
    -webkit-transition: opacity .2s;
    transition: opacity .2s
}

#loading.show {
    display: block;
    opacity: 1;
    filter: alpha(opacity=100)
}

#loading img {
    height: 100%;
    width: 100%
}

.tooltip-inner {
    background-color: #da5c00;
    max-width: none;
    font-weight: bold;
    font-size: 14px
}

.tooltip-arrow {
    border-top-color: #da5c00 !important
}

#big-input.has-error {
    background-color: #ffe;
    border-color: #cc0;
    border-width: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}

#go-button-container {
    float: left;
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

@media(min-width:768px) {
    #go-button-container {
        float: left;
        width: 8.333333333333332%
    }
}

@media(min-width:992px) {
    #go-button-container {
        float: left;
        width: 8.333333333333332%
    }
}

@media(min-width:1200px) {
    #go-button-container {
        float: left;
        width: 8.333333333333332%
    }
}

#go-button {
    font-size: 24px;
    height: 2.5em;
    width: 4em;
    background-color: #2b5a0b;
    color: #fff
}

#go-button:hover {
    background-color: #36710d;
    -webkit-box-shadow: 0 0 19px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 19px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 19px 0 rgba(0, 0, 0, 0.3)
}

#states-container {
    float: left;
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    color: #010d00;
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    line-height: 35px
}

@media(min-width:992px) {
    #states-container {
        float: left;
        width: 100%
    }
}

#states-container .state-outer-col {
    float: left;
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    font-size: 22px
}

@media(min-width:768px) {
    #states-container .state-outer-col {
        float: left;
        width: 50%
    }
}

#states-container .state-inner-col {
    float: left;
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

@media(min-width:992px) {
    #states-container .state-inner-col {
        float: left;
        width: 50%
    }
}

@media(max-width:767px) {
    #instructions {
        font-size: 18px
    }
    .disclaimer {
        margin-top: 20px
    }
    #go-button-container {
        text-align: center
    }
    #go-button {
        margin-top: 20px
    }
    #upper {
        padding-top: 20px;
        font-size: 18px
    }
    #upper .highlight {
        font-size: 22px
    }
    #logo-and-tagline {
        margin-top: 15px;
        margin-bottom: 15px
    }
    #logo-container {
        width: 600px;
        height: 142px
    }
    #tagline {
        font-size: 18px
    }
}

a,
a:visited {
    color: #008000
}

@media only screen and (max-width:599px) {
    #logo-container {
        width: 95%;
        height: auto
    }
    #logo-and-tagline {
        margin-top: 0;
        margin-bottom: 15px
    }
    #top-container {
        padding-bottom: 5px
    }
    #instructions {
        font-size: 16px
    }
}

@media(max-width:991px) {
    #states-container .state-outer-col {
        text-align: center
    }
}

@media(min-width:768px) {
    #big-title {
        margin-top: 2em
    }
    #instructions {
        font-size: 23px
    }
    .disclaimer {
        margin-top: 20px
    }
    #upper {
        padding-top: 20px;
        font-size: 23px
    }
    #upper .highlight {
        font-size: 27px
    }
    #logo-and-tagline {
        margin-top: 15px;
        margin-bottom: 25px
    }
}

@media(min-width:992px) {
    #big-title {
        margin-top: 220px
    }
    .disclaimer {
        margin-top: 20px
    }
    #upper {
        padding-top: 20px;
        font-size: 24px
    }
    #upper .highlight {
        font-size: 32px
    }
    #logo-and-tagline {
        margin-top: 15px;
        margin-bottom: 25px
    }
}

@media(min-width:1200px) {
    #upper {
        padding-top: 20px;
        font-size: 24px
    }
    #upper .highlight {
        font-size: 32px
    }
    #logo-and-tagline {
        margin-top: 15px;
        margin-bottom: 25px
    }
}

@media(min-width:1500px) {
    #big-title {
        margin-top: 250px
    }
    #upper {
        padding-top: 65px;
        padding-bottom: 30px;
        font-size: 28px
    }
    #upper .highlight {
        font-size: 36px
    }
    #logo-and-tagline {
        margin-top: 40px;
        margin-bottom: 30px
    }
}